# données et modèles (trop gros pour git)
models/
data/

# python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
*.egg-info/

# environnement
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
